*{
    margin: 0px;
    box-sizing: border-box;
    background-color: rgb(221, 221, 221);
}
img{
    height: 310px;
    width: 310px;
   /* aspect-ratio: 1; */
}
.main{
   
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
   padding: 100px;
}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 h1{ 
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 40px;
 }
 p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
 }
