---
layout: default
---

<div class="notebook">
  <h1 class="notebook-title">{{ page.name }}</h1>
  <div class="project-skills">
  Skills: {%- for tool in page.tools -%} 
  <span class="badge badge-pill text-primary border border-primary ml-1">{{ tool }}</span>
        {%- endfor -%}
  </div>
  <a target="_blank" href={{page.external_url}}>{{page.external_type}}</a>
  {{ content }}
</div>

<hr>

  <!-- MathJax script -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>